* 
{
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', serif;
}


body{
    padding: 20px;
}

header{
    margin-top: 20px auto;
    max-width: 85%;
    margin-left: 90px;
    display: -webkit-flex;
    display: flex;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(143, 39, 146);
}

header .nav-menu{
    list-style-type: none;
}

header .nav-menu li{
    display: inline-block;
    margin-right: 80px;
}

header .nav-menu li a{
    display: block;
    font-size:20px; 
    color: rgb(143, 39, 146); 
    font-weight:500;
    transition: 1s all ease;
    text-decoration: none;
    cursor: pointer;
}

header .nav-menu li a:hover {
    font-size:20px; 
    color:rgb(241, 171, 241); 
    font-weight:500;
   }

.welcome{
    margin-left: 150px;
    margin-top: 30px;
    
}

.welcome_article{
    margin-top: 30px;
}

.photo{
    background-image: url("Amina.jpg");
    margin-left: 190px;
	margin-top: 20px;
	width: auto;
	height: 600px;
	background-repeat: no-repeat;
	background-size: 20%;
	border-radius: 5px;
}

.text-inf{
    margin-left: auto;
	margin-top: auto;
	width: 850px;
	height: 600px;
	float:right;
}

.contacts{
    margin-left: auto;
	margin-top: 20px;
	width: 850px;
	height: 600px;
	float:right;
}
.skills{
    margin-left: auto;
	margin-top: 10px;
	width: 850px;
	height: 600px;
	float:right;
}

.code{
    margin-top: 10px;
    margin-left: 90px;
}


